<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EFund Password Reset</title>
</head>

<body style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; line-height: 1.6; color: #fff; margin: 0; padding: 0; background-color: #222831;">
    <table width="100%" height="450px" cellspacing="0" cellpadding="0">
        <tr>
            <td align="center" valign="middle">
                <table class="content" width="650"
                       style="text-align: center;padding-top: 0%; border-radius: 15px; background-color: #393e46; height: 260px">
                    <tr>
                        <td style="vertical-align: top; padding-top: 20px;">
                            <h1 style="font-size: 24px; color: #ffd369; margin-bottom: 20px;">
                                Thank you for your<br />EFund registration.
                            </h1>
                            <p style="font-size: 16px; margin-top: 0; margin-bottom: 10px; padding: 0 35px">
                                As part of our security process, we ask new users to confirm their email address.<br />
                                Upon confirmation, your registration will be completed, and a confirmation email will be
                                sent to you.<br />
                                You only need to complete this process once.
                            </p>
                            <div style="background-color: #222831; padding: 5px; line-height: 14px; border-radius: 15px; margin: 20px 55px;">
                                <p style="font-size: 30px; font-weight: bold; color: #ffd369;">@Model.Code</p>
                            </div>
                            <p>If you did not register for this service, please ignore this email.</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>