<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EFund Password Reset</title>
</head>

<body style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; line-height: 1.6; color: #fff; margin: 0; padding: 0; background-color: #222831;">
    <table width="100%" height="450px" cellspacing="0" cellpadding="0">
        <tr>
            <td align="center" valign="middle">
                <table class="content" width="500"
                       style="text-align: center;padding-top: 0%; border-radius: 5%; background-color: #393e46; height: 260px">
                    <tr>
                        <td style="vertical-align: top; padding-top: 20px;">
                            <h1 style="font-size: 24px; color: #ffd369; margin-bottom: 20px;">
                                EFund Password Reset
                            </h1>
                            <p style="font-size: 16px; margin-bottom: 10px;">Dear <b>@Model.UserName</b>,</p>
                            <p style="font-size: 16px; margin-top: 0; margin-bottom: 10px; padding: 0 35px">
                                You have requested a password reset. To reset your password,
                                please click the link below:
                            </p>
                            <p style="margin: 25px 0 50px 0;">
                                <a href="@(Model.ResetPasswordUri)" style="font-size: 18px; color: #ffd369; font-weight: 500;">
                                    Reset your password
                                </a>
                            </p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>