.multi-select{
    display: flex;
    max-height: 50px;
    width: fit-content;
    max-width: 250px;
}

.multi-select::-webkit-scrollbar {
    display: none;
}

.divv{
    max-width: 250px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}